apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    - name: node-ip
      value: {{ internal_network_interfaces[0]['ip'] }}
localAPIEndpoint:
  advertiseAddress: {{ internal_network_interfaces[0]['ip'] }}
  bindPort: {{ k8s_apiserver_port }}
