{
  "data-root": "{{ docker_root }}",
  "exec-opts": ["native.cgroupdriver=systemd"],
  "runtimes": {
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
    }
}
