global:
  imageRegistry: {{ image_registry }}
  security:
    allowInsecureImages: true
auth:
  adminUser: admin
production: false
replicaCount: {{ replica_count }}
resourcesPreset: none
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.aipub.ten1010.io/control-plane
              operator: Exists
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/instance: keycloak
            app.kubernetes.io/name: keycloak
        topologyKey: kubernetes.io/hostname
tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
ingress:
  enabled: true
  ingressClassName: {{ ingress_class }}
  hostname: {{ hostname }}
  tls: true
  selfSigned: true
image:
  repository: bitnamilegacy/keycloak
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  primary:
    resourcesPreset: none
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.aipub.ten1010.io/control-plane
                  operator: Exists
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/instance: keycloak
                app.kubernetes.io/name: postgresql
            topologyKey: kubernetes.io/hostname
    tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
    persistence:
      existingClaim: "keycloak-postgresql"
