apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  storageClassName: {{ storage_class }}
  accessModes:
    - {{ access_mode }}
  resources:
    requests:
      storage: {{ storage }}
