flannel:
  image:
    repository: {{ cluster_boot_registry_domain_name }}:{{ cluster_boot_registry_port }}/flannel/flannel
    tag: v0.23.0
  image_cni:
    repository: {{ cluster_boot_registry_domain_name }}:{{ cluster_boot_registry_port }}/flannel/flannel-cni-plugin
    tag: v1.2.0
  args:
  - "--ip-masq"
  - "--kube-subnet-mgr"
  - "--iface-can-reach={{ flannel_iface_can_reach }}"
