network:
{% if k8s_interface.startswith('bond') %}
  bonds:
{% else %}
  ethernets:
{% endif %}
    {{ k8s_interface }}:
      routes:
        - to: {{ service_cluster_ip_range }}
          via: {{ k8s_ip }}
  version: 2
