services:
  ntp-server:
    image: cturra/ntp:latest
    ports:
      - 123:123/udp
    environment:
      TZ: Asia/Seoul
{% if ntp_server_offline_mode %}
      NTP_SERVERS: 127.127.1.1
{% else %}
      NTP_SERVERS: {{ upstream_ntp_servers }}
{% endif %}
    network_mode: bridge
    restart: always
