services:
  ntp:
    image: {{ ki_cp_ntp_server_image }}
    ports:
      - 123:123/udp
    environment:
      TZ: Asia/Seoul
      NTP_SERVERS: {{ ntp_servers }}
    network_mode: bridge
    logging:
      driver: json-file
      options:
        max-size: "{{ ki_cp_service_log_max_size }}"
        max-file: "{{ ki_cp_service_log_max_file }}"
    restart: always
