services:
  haproxy:
    image: haproxy:2.6
    ports:
      - {{ k8s_haproxy_port }}:6443
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    environment:
      TZ: Asia/Seoul
    network_mode: bridge
    restart: always
