global
    maxconn 5000
    log stdout format raw local0

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          20s
    timeout server          20s
    timeout http-keep-alive 10s
    timeout check           10s

frontend frontend
    bind 0.0.0.0:6443
    mode tcp
    option tcplog
    default_backend backend

backend backend
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     roundrobin
{% for server in backend_servers %}
        server server{{ loop.index }} {{ hostvars[server]['k8s_ip'] }}:6443 check
{% endfor %}
